/*ahora con grid-areas*/

*{
	margin:0;
	padding: 0;


}

body{
	/*background: #e9ecf4;*/
	background: #17202A;

}

p{
	text-align: justify;
	font: 120% Garamond;
}

H1 {
	font: 190% Brush Script MT;
	color: blue;
	
}
H2{
	font: 250% Century Gothic;
	
}

.contenedor{
	width: 90%;
	margin-top: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);


/*aqui se definen las columnas y las filas*/

grid-template-areas: "header header header"
					 "contenido contenido sidebar"
					 "widget-1 widget-2 sidebar"
					 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header{
	background: #3380FF;
	color: #fff;
	grid-area: header;
	text-align: center;
}	

.contenedor .contenido{
	grid-area: contenido;

}

.contenedor .sidebar{
	grid-column: 3 / 4;
	background: #faa43d;
	text-align: center;
	/*flexbox para centrar vertical*/
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
	display: inline-block;
}

.contenedor .widget-1, 
.contenedor .widget-2{
	background:#55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

.contenedor .widget-1{
	grid-area: widget-1;
}

.contenedor .widget-2{
	grid-area: widget-2;
}

.contenedor .footer{
	background-color: #3380FF;
	color: #fff;
	grid-area: footer;
	text-align: center;
	
	
}

#link_buttonreg_nav{
    text-decoration: none;
    color: azure;
}
#link_buttonreg_nav:hover{
    color: blue;
}
#buttonreg_nav{
    
    border-radius: 20px;
    padding: 3px;
    background-color: black;
}

#link_buttonreg_nav2{
    text-decoration: none;
    color: azure;
}
#link_buttonreg_nav2:hover{
    color: blue;
}
#buttonreg_nav2{
    
    border-radius: 20px;
    padding: 3px;
    background-color: black;
}


@media screen and (max-width: 768px) {
	/*body{
		background: #000;
	}*/
.contenedor{
	grid-template-areas: "header header header"
					 "contenido contenido contenido"
					 "sidebar sidebar sidebar"
					 "widget-1 widget-1 widget-2"
					 "footer footer footer";

}
